/* shared styles  */
body {
  font-family: "Open Sans", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

.btn-primary {
  background-color: #fd6e0a;
  border-radius: 5px;
  border: 0;
  padding: 15px 30px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #f06f13;
  color: black;
}
nav,
.banner,
main {
  width: 80%;
  margin: 0 auto;
}

/* header style  */
.header {
  background-color: #fff8f3;
}
.header-main-section {
  max-width: 1440px;
  margin: 0 auto;
}

/* nav style  */
.nav-main-section > h1 {
  font-weight: 900px;
  font-size: 2rem;
}
.nav-main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-list,
a {
  text-decoration: none;
}
.nav-list,
a:hover {
  color: black;
}

/* banner style  */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 50%;
}
.banner-content,
.banner-img {
  width: 50%;
}
.banner-img {
  display: flex;
  justify-content: end;
}

/* main style */
/* about style  */
.section-about {
  text-align: center;
  /* background-color: #fff8f3; */
  /* margin-top: 100px; */
  padding: 50px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}

/* what i do style  */
.section-what-i-do {
  text-align: center;
  justify-content: center;
  padding: 50px 0;
  max-width: 500px;
  margin: 0 auto;
}
/* skill  */
.section-skill {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.skill {
  margin-bottom: 30px;
  /* padding: 30px; */
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* summary of resume  */
.section-resume {
  margin-top: 50px;
  padding: 20px;
}
.resume-title {
  text-align: center;
  margin-bottom: 30px;
}
.resume-container {
  display: flex;
  gap: 10px;
}
.resume-download-btn {
  text-align: center;
  margin-top: 30px;
}

/* footer style  */
footer {
  display: flex;
  background-color: #fff8f3;
  padding: 80px 150px;
  margin-top: 100px;
}
.footer-column {
  width: 50%;
  padding: 20px;
}

.footer-contact input[type="text"],
.footer-contact input[type="email"],
textarea {
  display: block;
  width: 100%;
  border: 0;
  margin-bottom: 25px;
  padding: 20px;
}

/* display hide  */
.hide {
  display: none;
}

/* ============================================ */
/* mobile responsive style  */
@media screen and (max-width: 960px) {
  nav,
  .banner,
  main {
    width: 90%;
    margin: 0 auto;
  }
  .nav-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  /* banner styles  */
  .banner {
    background-size: 100%;
  }
  .banner-content,
  .banner-img {
    width: 100%;
  }
  .banner-img > img {
    width: 100%;
  }

  /* main styles  */
  .section-what-i-do {
    margin-top: 10px;
    padding: 5px;
  }

  .section-skill,
  .resume-container,
  footer,
  .about-info-container,
  .banner,
  .nav-main-section {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  .skill {
    padding: 10px;
    text-align: center;
  }
  footer {
    padding: 10px;
  }
  .footer-column {
    width: 90%;
    padding: 20px;
  }
  .footer-contact input[type="text"],
  .footer-contact input[type="email"],
  textarea {
    display: block;
    width: 90%;
  }
  .section-about {
    padding: 10px;
  }
  .banner-profile {
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
  }
}
