/* font style  */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}

/* button_primary */
.btn-primary{
 background-color: #FD6E0A;
 border-radius: 5px;
 border: 0;
 padding: 15px 30px;
 font-weight: 700;
 color: white;

}

/* nav style  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
   
}
nav > ul{
    display: flex;
    align-items: center;
}
nav, li{
    list-style:  none;
    margin-right: 50px;
}
nav, a{
    text-decoration: none;
}

/* header style  */
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
   background-repeat: no-repeat;
   background-position: bottom right;
   background-size:auto;
}

/* banner style  */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 150px 0 150px;
}
.banner-profile{
    height: 80%;
}
.banner-content{
    max-width: 50%;
}

/* main style */
    main{
        margin-left: 150px;
        margin-right: 150px;
       
    }
/* about style  */
.section-about{
    text-align: center;
    background-color: #FFF8F3;
    margin-top: 100px;
    padding: 80px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}

/* what i do style  */
.section-what-i-do{
    text-align: center;
    margin-top: 50px;
    padding: 80px;
}
/* skill  */
.section-skill{
    display: flex;
    gap: 24px;
    
}

.skill{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
 
}

/* summary of resume  */
.section-resume{
    margin-top: 50px;
    padding: 20px;
}
.resume-title{
    text-align: center;
}
.resume-container{
    display: flex;
    gap: 10px;
}
.resume-item-title{
    margin-bottom: 0px;
}